# IPython Notebook のチェックポイント
.ipynb_checkpoints*

# Python コンパイルキャッシュ
__pycache__

# ログファイル
log.txt

# datasets
*.gz
*-ubyte

*.env

*.pdf

# テストをlocalで行いたいときに作成するフォルダ
*test

# 学習済みの重みをlocalで管理するフォルダ
pretrained
# 思いファイル管理しない
*.pth
!src/dev/result/weight/*.pth

*/datasets/*/Image/attack
*/datasets/*/Image/patch
*/datasets/*/Image/OverlayImages/*
uploaded_images/*
