.ipynb_checkpoints*

# IPython Notebook のチェックポイント
check-library.ipynb

# Python コンパイルキャッシュ
__pycache__

# ログファイル
log.txt

# datasets
*.gz
*-ubyte

*.env

*.pdf

# テストをlocalで行いたいときに作成するフォルダ
*test

# 学習済みの重みをlocalで管理するフォルダ
pretrained
# 思いファイル管理しない
*.pth